[user]
	name = Robert Brewitz
	email = hello@robertbrewitz.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vi
	whitespace = nowarn
	excludesfile = ~/.gitignore
[merge]
	tool = opendiff
[alias]
	s = status
	st = status
	f = fetch --all
	co = checkout
	cp = cherry-pick
	pom = push origin master
	dom = rebase origin/master
[github]
	user = RobertBrewitz
[branch]  
	autosetuprebase = always
[push]
	default = simple
