snippet desc "describe block"
describe('$1', () => {
  $0
});
endsnippet

snippet context "context block"
test('$1', () => {
  $0
});
endsnippet

snippet it "it block"
it('$1', () => {
  $0
});
endsnippet

snippet ita "async it block"
it('$1', async() => {
  $0
});
endsnippet

snippet test "test block"
test('$1', () => {
  $0
});
endsnippet

snippet testa "async test block"
test('$1', async() => {
  $0
});
endsnippet
